*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  #212529;
}

label{
    color: #fff;
}

.form-control{
    background-color: #841a71;
    color: white;
}

.bg-purple{
    background-color: #841a71;
}

button{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: white !important;
    color: #841a71 !important;
}
